<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benny.openlauncher">

    <!--
    TODO activate later again
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
-->

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:theme="@style/Home.Light">

        <activity
            android:name=".activity.Init"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.Home"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".util.FiveSecsDelayContentProvider"
            android:authorities="com.benny.openlauncher.util.FiveSecsDelayContentProvider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true" />

        <activity
            android:name=".activity.AutoFinishActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.MiniBarEditActivity"
            android:label="Edit Item"
            android:parentActivityName=".activity.Home"
            android:theme="@style/NormalActivity.Light" />
        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Settings"
            android:theme="@style/NormalActivity.Light" />

        <activity
            android:name=".hideApps.Activity_hideApps"
            android:theme="@style/NormalActivity.Light"
            android:enabled="true"
            android:label="@string/app_name">
        </activity>


        <receiver
            android:name=".util.DeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>
        <receiver
            android:name=".util.ShortcutReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.AboutActivity"
            android:label="About"
            android:theme="@style/AppTheme.MaterialAboutActivity"
            android:parentActivityName=".activity.SettingsActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.benny.openlauncher.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>