<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benny.openlauncher">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.benny.openlauncher.App"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:launchMode="singleTask"
        android:stateNotNeeded="true"
        android:taskAffinity=""
        android:theme="@style/Home.Light">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name="com.benny.openlauncher.activity.OnBoardActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:theme="@style/Home.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.benny.openlauncher.activity.Home"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.benny.openlauncher.activity.AutoFinishActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.benny.openlauncher.activity.MinibarEditActivity"
            android:label="Edit Item"
            android:parentActivityName="com.benny.openlauncher.activity.Home"
            android:theme="@style/NormalActivity.Light" />
        <activity
            android:name="com.benny.openlauncher.activity.SettingsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="Settings"
            android:theme="@style/NormalActivity.Light" />
        <activity
            android:name="com.benny.openlauncher.activity.HideAppsActivity"
            android:label="@string/app_name"
            android:theme="@style/NormalActivity.Light" />
        <activity
            android:name="com.benny.openlauncher.activity.AboutActivity"
            android:label="About"
            android:parentActivityName=".activity.SettingsActivity"
            android:theme="@style/NormalActivity.Light" />

        <receiver
            android:name="com.benny.openlauncher.util.DeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>

        <receiver
            android:name="com.benny.openlauncher.util.ShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.benny.openlauncher.util.FiveSecsDelayContentProvider"
            android:authorities="${applicationId}.util.FiveSecsDelayContentProvider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true" />

    </application>

</manifest>