<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.benny.openlauncher">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:resizeableActivity="false"
        android:name="com.benny.openlauncher.AppObject"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:launchMode="singleTask"
        android:stateNotNeeded="true"
        android:taskAffinity=""
        android:theme="@style/Home.Light"
        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name="com.benny.openlauncher.activity.OnBoardActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.benny.openlauncher.activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.benny.openlauncher.activity.AutoFinishActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.benny.openlauncher.activity.MinibarEditActivity"
            android:label="@string/minibar"
            android:parentActivityName="com.benny.openlauncher.activity.HomeActivity"
            android:theme="@style/NormalActivity.Light" />
        <activity
            android:name="com.benny.openlauncher.activity.SettingsActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/pref_title__settings"
            android:theme="@style/NormalActivity.Light" />
        <activity
            android:name="com.benny.openlauncher.activity.HideAppsActivity"
            android:label="@string/app_name"
            android:theme="@style/NormalActivity.Light" />
        <activity
            android:name="com.benny.openlauncher.activity.MoreInfoActivity"
            android:parentActivityName="com.benny.openlauncher.activity.SettingsActivity"
            android:theme="@style/NormalActivity.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.benny.openlauncher.activity.SettingsActivity" />
        </activity>
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.benny.openlauncher.activity.AddShortcutActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.benny.openlauncher.receivers.DeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>
        <receiver
            android:name="com.benny.openlauncher.receivers.ShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.benny.openlauncher.notifications.NotificationListener"
            android:label="@string/icon_badge_service_title"
            android:enabled="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
